{% extends 'mainapp/index.html' %}
{% load static %}



{% block about %}
    

    
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>Información sobre ALF</h2>
                    <p class="lead">ALF es una divertida serie de televisión que combina comedia y ciencia ficción. La trama gira en torno a Gordon Shumway, un simpático extraterrestre proveniente del planeta Melmac. Después de que su nave espacial se estrella en la Tierra, ALF es acogido por la familia Tanner, quienes se convierten en su hogar adoptivo.

                        ALF, cuyo nombre real es Gordon, es un pequeño y peludo alienígena con una personalidad única y un sentido del humor peculiar. Aunque sus intenciones son amistosas, su presencia en la casa de los Tanner a menudo desencadena situaciones cómicas y situaciones inesperadas.
                        
                        La familia Tanner está compuesta por Willie, el padre de familia, quien trabaja como asesor financiero y es el que muestra una mayor preocupación por ocultar la existencia de ALF a los demás; Kate, la madre, una ama de casa cariñosa pero a menudo estresada; Lynn, la hija adolescente, una chica típica de su edad, interesada en sus amigos y actividades escolares; y Brian, el hijo más joven, un niño curioso y travieso.
                        
                        ALF, aunque ansía regresar a su hogar, se adapta a la vida terrestre y se convierte en un miembro querido de la familia. Sin embargo, mantener la existencia de un extraterrestre en su hogar se convierte en un reto constante, ya que deben evitar que sea descubierto por los vecinos, amigos y autoridades locales.
                        
                        A lo largo de la serie, ALF enfrenta diversas situaciones cómicas, pero también aprende valiosas lecciones sobre la amistad, la familia y la vida en la Tierra. Además, interactúa con otros personajes extravagantes que descubren su secreto, lo que agrega más dinamismo y diversión a la historia.
                        
                        Con su estilo humorístico único y las ingeniosas ocurrencias de ALF, la serie cautivó a audiencias de todas las edades durante su exitoso recorrido en la televisión, dejando un legado como una de las comedias más queridas de todos los tiempos. 
                    </p>
                    
                </div>
            </div>
        </div>
    </section>

{% endblock about %}