{% extends 'mainapp/index.html' %}
[% load static %]


{% block about %}
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>¡BIENVENIDO ALFanático!</h2>
                    <p class="lead">Infórmate sobre nosotros</p>
                    <p class="mb-0">Somos una página creada por fanáticos de ALF, solo para fanáticos. Entérate de información sobre tus personajes favoritos, curiosidades y más!. No pierdas más el tiempo en Tik Tok, es momento de volverte... ¡ALFanático!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>
    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Engaging Background Images</h2>
                    <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
                    <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock about %}
    
